# OGRE resource locations. Paths are relative to the working directory the app
# is launched from. Add your material/shader/texture folders here.
[General]
FileSystem=assets/materials
FileSystem=assets/textures
FileSystem=assets/meshes
